# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.idea
.DS_Store
.cache
.project
.settings
.tmproj
Thumbs.db
ehthumbs.db
Icon?

node_modules
package-lock.json
